# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
# Python
build/
dist/
venv/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# App Cache and Logs
cache/
*.json
!settings_archive.json
!package.json
!package-lock.json
